* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

button{
    background-color: transparent;
    border:none;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.outer-container{
    display:flex;
}
.main-content{
    flex:1;
    height:5000px;
    background-color: rgb(54, 54, 54);
    color:white;
}

/*auth page*/
.auth-container {
    height:100vh;
    gap:2rem;
    background-color: black;
}

.auth-img{
    height:500px;
}

.auth-form{
   flex-direction: column;
}


.logo-auth, .instagram-logo{
    width:150px;
}

input {
    background-color: transparent;
    border:none;
    padding:10px;
    color:rgba(255, 255, 255, 0.825);
}

.login-btn {
    border-radius: 5px;
    padding:5px 60px;
    background-color: rgb(222, 255, 255);
    width:100%;
    margin-top:20px;
}

.or-divider{
    color:white;
    gap:1rem;

}
.or-divider span {
    flex:1;
}

.horizontal-bar{
    border:1px solid rgba(255, 255, 255, 0.3);
    width:60px;
    flex:2;
}

.google-icon{
    width:20px;
}

.google-login-btn{
    color:rgba(255, 255, 255, 0.434);
    gap: 1rem;
}

.get-app-img{
    height:35px;
}

.main-form-container{
    flex-direction: column;
    border:1px solid rgba(255, 255, 255, 0.313);
    gap:1rem;
    padding:20px 25px;
}

.sign-up-container{
    color:white;
    border:1px solid rgba(255, 255, 255, 0.305);
    padding:15px 20px;
}

.sign-up-button{
    color:rgba(255, 255, 255, 0.641);
    padding-left:10px;
}

.right-auth-section{
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.flex-center{
    align-self: center;
    justify-self: center;
}

span.flex-center{
    color:white;
}

.get-app-container{
    justify-content: space-between;
}

/* /auth page*/

/*sidebar*/
.sidebar-container{
    width:240px;
    height:100vh;
    color:black;
    background-color: black;
    position: sticky;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:10;
    padding:40px 20px;

}

.log-out-container{
    margin-top:auto;
}

.log-out-link{
    gap:1rem;
    color:white;
    text-decoration: none;;
}
/* /sidebar*/

.on-desktop{
    display:block;
}

.on-mobile-tablet{
    display:none;
}

@media (max-width:768px){

    /* auth page*/
    .auth-img{
        display:none;
    }

    /* /auth page*/

    /* sidebar*/
    .sidebar-container{
        width:70px;
    }

    .on-desktop{
        display:none;
    }

    .on-mobile-tablet{
        display:block;
    }

    /* /sidebar*/

}